<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MISSION TO MARS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    img {
        vertical-align: middle;
        height: 500px;
        width: 500px;
    }

  </style>
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1><strong>Mission To Mars</strong></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape Mars Data</a></p>
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="heading"><strong>Latest Mars News</strong></h2>
          <b><u><h3 class="heading">{{mars.latest_news_title}}</h3></u></b>
          <h4>{{mars.latest_news_description}}</h4>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class ="col-md-12">
        </div>
        <div class="col-md-5">
          <h2 class="heading"><strong>Featured Mars Image</strong></h2>
          <img src="{{mars.featured_image}}">
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <h3><strong>Current Weather On Mars</strong></h3>
              <p>{{mars.mars_weather}}</p>
            
              <h3 class="header" ><strong>Mars Facts</strong></h3>
                <div>
                  {{ mars.mars_data|safe}}
                </div>
        </div>
        </div>
      </div>
    <h1 style="padding-top: 50px; text-align: center;"><strong>Mars Hemispheres</strong></h1>
    <div class="card-deck">
        <hr>
        <div class="col-md-12">
            <div class="row">
                {% for item in mars.hem_info %}
                <div class="col-md-6">
                    <div class="card text-white bg-dark" style="margin: 30px;">
                        <img class="card-img-top" src="{{ item.img_url }}" />
                        <div class="card-body">
                            <p class="card-text">{{ item.title }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
</body>

</html>